@import './Colors.scss';

.Alert {
    margin: 10px 10vw 30px;
    padding: 1px;
    background-color: $secondary;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px #000000;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    h3 {
        display: flex;
        margin-left: 45px;
        margin-right: 15px;
        a {
            flex-grow: 1;
            padding: 0 15px;
        }
        .AlertButton {
            border-radius: 5px;
            width: 30px;
            height: 30px;
        }
    }
    p {
        padding: 10px;
        font-size: 20px;
    }
    div {
        font-size: 15px;
        margin-bottom: 20px;
    }

}