$dark-background: #021F3B;
$background: #083867;
$text: #FFECC1;
$text-secondary: #A4BCD3;
$link-text: #46739F;
$secondary: #DBA11C;
$dark-secondary: #9F6F01;





// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=a113-0krVru7NLnjcuFvLjUNAbk */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #DBA11C;	// Main Primary color */
$color-primary-1: #FFECC1;
$color-primary-2: #F4C862;
$color-primary-3: #9F6F01;
$color-primary-4: #5A3F00;

$color-complement-0: #1B568E;	// Main Complement color */
$color-complement-1: #A4BCD3;
$color-complement-2: #46739F;
$color-complement-3: #083867;
$color-complement-4: #021F3B;